{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $machineType := promptChoiceOnce . "machineType" "Machine type" (list "personal" "work") -}}

data:
  email: {{ $email | quote }}
  machineType: {{ $machineType | quote }}
